@model List<LeaveTrackerSystem.Domain.Entities.LeaveRequest>

@{
    ViewData["Title"] = "All Leave Requests";
}

<h2>@ViewData["Title"]</h2>

@if (Model.Any())
{
    <table class="table table-bordered table-striped">
        <thead class="table-dark text-center">
            <tr>
                <th>Email</th>
                <th>Leave Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Reason</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model)
            {
                <tr>
                    <td>@request.User.Email</td>
                    <td>@request.LeaveType.Name</td>
                    <td>@request.StartDate.ToShortDateString()</td>
                    <td>@request.EndDate.ToShortDateString()</td>
                    <td>@request.Reason</td>
                    <td>@request.Status</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">No leave requests found.</div>
}